<div class="container">
	<h1>Hello baby !!! Welcome#index</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="wow fadeInLeft grid">
			<% (1..12).each do |i| %><div class="grid-cell third">
				<%= image_tag("amber_pool.jpg", :alt => "") %>
			</div><% end %>	
		</div>
	</div>
	<div class="col-md-6">
		<div class="wow fadeInLeft grid">
			<% (1..12).each do |i| %><div class="grid-cell third">
				<%= image_tag("amber_head.jpg", :alt => "") %> 
			</div><% end %>	
		</div>
	</div>
</div>