<footer class="footer">
    <div class="container-fluid">
        <div class="pull-left">
            <small>
                &copy; 2014. All rights reserved.
                Made with ♥ in <a href="http://c4labz.com/about/cadesalaberry">Montreal</a>

            </small>
        </div>
        <div class="pull-right">
            <nav>
                <ul>
                    <li><%= link_to "About",   'http://c4labz.com/about' %></li>
                    <li><%= link_to "Contact", 'http://c4labz.com/' %></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>